*{
    margin:0;
    padding:0;
}
body, html{
    font-family: Monospace ;
}

body{
    text-align: center;   
    font-size: 1.6em;
    background:#bcebe0;
}

h1{
    text-decoration: underline;
}

h1+p{
    font-style: oblique;
    margin-bottom:35px;
}

h2{
    margin-top:10px;
}
